# objects
*.o
*.obj

# libraries
libxxhash.*
*.dll
*.lib
*.a

# Executables
*.exe
xxh32sum
xxh64sum
xxhsum
xxhsum.exe
xxhsum32
xxhsum_privateXXH
xxhsum_inlinedXXH
xxhsum_inlinedXXH.exe

# Mac OS-X artefacts
*.dSYM
.DS_Store

# Visual Studio
.vs
CMakeSettings.json
